*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter', sans-serif;
}
/* ----------banner part start ------------------- */
.banner {
    text-align: center;
    background-image:linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(../images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 130px;
}
.banner-text{
    padding: 174px 307px ;
}
.banner h1{
    color:#FFFFFF ;
    font-size: 65px;
    font-weight: 700;
}
.banner p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 30px 0px;
    color:#FFFFFF ;
}
.banner a{
    text-decoration: none;
    padding: 16px 20px;
    color: #FFFFFF;
    background-color: #FF5959;
    border-radius: 5px;

}
/*--------- banner part end --------------- */

/*------------- donate amount part start------ */
.donations{
    text-align: center;
    margin-bottom: 130px;
}
.donations h1{
    color: #121212;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.donations p{
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    margin: 0px 375px 50px 375px;
    
}
.donate-amount{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}
.donate-amount h4{
    color: #707070;
    font-weight: 700;
    font-size: 30px;
    margin-right: 22px;
    padding: 43px 23px;
}
#highlight-tk{
    color: #FF5959;
    background-color: #FFEEEE;
    border: 3px solid #FF5959;
    padding: 43px 23px;
    border-radius: 5px;

}
#other-amount{
    margin-bottom: 130pxs;
}
#other-amount input{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #B3B3B3;
    padding: 15px 0px;
    border: 0;
    width: 765px;
    border-bottom: 1px solid #DADADA;
    margin-bottom: 40px;
}
#other-amount a{
    text-decoration: none;
    padding: 16px 20px;
    color: #FFFFFF;
    background-color: #FF5959;
    border-radius: 5px;
}
/*---------- donation amount part end --------- */


/* -----------donation plan part ------*/
.catagories{
    display: flex;
    margin: 5%;
}
.donation-plan h2{
    text-align: center;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.donation-plan h5{
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin:20px 200px;
    
}
/*---- food --- */
#food{
    text-align: left;
    color: #121212;
    background: rgba(79, 157, 166, 0.1);
    padding:70px 23px;
}
#food h4{
    font-weight: 600;
    font-size: 24px;
    padding: 20px 0px;
}

#food p{
    text-align: left;

}


/*--- shelter  ---*/

#shelter{
    color: #121212;
    background: rgba(255, 89, 89, 0.1);
    margin: 0px 50px;
    padding:70px 23px;
}
#shelter h4{
    font-weight: 600;
    font-size: 24px;
    padding: 20px 0px;
}
#shelter p{
    text-align: left;
}


/*---- education-- */
#education {
    background-color: antiquewhite;
    padding:70px 23px;
}
#education h4{
    font-weight: 600;
    font-size: 24px;
    padding: 20px 0px;
}
#education p{
    text-align: left;
}
/*------ donation plan part end --------- */

/*--- documentry-part start  ---*/
.documentry-part{
    display: flex;
    margin-left: 100px;
}
.documentry-info{
    margin-left: 50px;
    margin-right: 70px;
}
.documentry-info h2{
    font-weight: 700;
    font-size: 45px;
}
.documentry-info p{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.documentry-info a{
    text-decoration: none;
    padding: 16px 20px;
    color: #FFFFFF;
    background-color: #FF5959;
    border-radius: 5px;
}
/*----- documentry-part end--------- */

/*----- my updates part-------------*/
.my-updates{
    text-align: center;
    margin: 130px 300px;
}
.my-updates h2{
    font-weight: 700;
    font-size: 45px;
    margin:70px 30px;
}
.my-updates p{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 60px;
}
#email{
    background-color: #FFF4D6;
    padding: 76px 188px;
}
#email input{
    text-align: left;
    border: none;
    padding:14px 10px ;
    border-radius: 10px 0px 0px 10px;
}
#email a{
    text-decoration: none;
    padding: 12px 40px;
    color: #FFFFFF;
    background-color: #FF5959;
    border-radius: 0px 10px 10px 0px;
}


/* footer part  */
footer{
    height: 177px;
    background: #0B0D17;
    text-align: center;
    padding-top:50px ;

}
footer h4{
    font-family: 'Lobster', cursive;
    color: #FF5959;
    font-weight: 400;
    font-size: 36px;
    padding-bottom: 20px;
}
footer p{
    color: #D9DBE1;
}